{% extends 'base.html' %}
{% block title %} Surveys {% endblock %}
{% block header %} Surveys {% endblock %}
{% block content %}
<div class="d-flex flex-row-reverse">
  <a type="button" class="btn btn-success" href="{{ url_for('survey.create') }}">New survey</a>
</div>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th scope="col">Description</th>
      <th scope="col">status</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Questionario sulla salute</td>
      <td>Questionario OMS per i dispositivi di protezione</td>
      <td>Active</td>
      <td style="width: 0;">
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-outline-success">View</button>
          <button type="button" class="btn btn-outline-warning">Edit</button>
          <button type="button" class="btn btn-outline-danger">Delete</button>
        </div>
      </td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Questionario sport</td>
      <td>Questionario per gli sportivi...</td>
      <td>Inactive</td>
      <td style="width: 0;">
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-outline-success">View</button>
          <button type="button" class="btn btn-outline-warning">Edit</button>
          <button type="button" class="btn btn-outline-danger">Delete</button>
        </div>
      </td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td colspan="2">Questionario in sviluppo</td>
      <td>Draft</td>
      <td style="width: 0;">
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-outline-success">View</button>
          <button type="button" class="btn btn-outline-warning">Edit</button>
          <button type="button" class="btn btn-outline-danger">Delete</button>
        </div>
      </td>
    </tr>
  </tbody>
</table>
{% endblock %}