{% extends 'base.html' %}
{% block title %} Questionari {% endblock %}
{% block header %} Lista Questionari {% endblock %}
{% block content %}
<div class="d-flex flex-row-reverse">
  <a type="button" class="btn btn-success" href="{{ url_for('survey.create') }}">Nuovo Questionario</a>
</div>
{% if surveys|length > 0 %}
<h5>{{surveys|length}} questionari trovati</h5>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Titolo</th>
      <th scope="col">Descrizione</th>
      <th scope="col">Stato</th>
      <th scope="col">Azioni</th>
    </tr>
  </thead>
  <tbody>
    {% for survey in surveys %}
    <tr>
      <th scope="row">{{ survey['id'] }}</th>
      <td style="width: 30%;">{{ survey['title'] }}</td>
      <td style="width: 50%;">{{ survey['description'] }}</td>
      <td style="width: 20%;">{{ survey['status'] }}</td>
      <td style="width: 0;">
        <div class="btn-group" role="group">
          <a href="{{ url_for('survey.details', id=survey['id']) }}" type="button"
            class="btn btn-outline-success">Visualizza</a>
          <a href="{{ url_for('survey.update', id=survey['id']) }}" type="button"
            class="btn btn-outline-warning">Modifica</a>
          <a href="{{ url_for('survey.delete', id=survey['id']) }}"
            onclick="return confirm('Conferma per Eliminare definitivamente!')" type="button"
            class="btn btn-outline-danger">Elimina</a>
        </div>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}
{% if surveys|length == 0 %}
<div style="text-align: center;">
  <h5>Nessun questionario trovato</h5>
</div>
{% endif %}
{% endblock %}