{% extends 'base.html' %}
{% block title %} Nuovo utente {% endblock %}
{% block header %} Nuovo utente {% endblock %}
{% block content %}
<form method="post">
  <div class="mb-3">
    <label for="name" class="form-label">Nome</label>
    <input class="form-control" id="name" name="name" required>
  </div>
  <div class="mb-3">
    <label for="surname" class="form-label">Cognome</label>
    <input class="form-control" id="surname" name="surname" required>
  </div>
  <div class="mb-3">
    <label for="email" class="form-label">Email</label>
    <input class="form-control" id="email" name="email" type="email" required>
  </div>
  <div class="mb-3">
    <label for="role" class="form-label">Ruolo</label>
    <select class="form-select" id="role" name="role">
      <option value="admin">Amministratore</option>
      <option value="panelist">Panelista</option>
    </select>
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input class="form-control" id="password" name="password" type="password" required>
  </div>
  <div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <a class="btn btn-outline-secondary" href="{{ url_for('user.list') }}">Annulla</a>
    <button type="submit" class="btn btn-success">Crea</button>
  </div>
</form>
{% endblock %}